@font-face {
  font-family: "Gotham";
  src: url("../../styles/fonts/Gotham-Bold.otf") format("opentype");
}
@font-face {
  font-family: "Poppins";
  src: url("../../styles/fonts/Poppins-SemiBold.ttf") format("truetype");
}

.app {
  height: 100%;
}

.page2 {
  width: 100%;
  height: 100%;
  padding-top:100px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 20px;
  padding: 20px;
  background-color:black;
  background-image:url("/halftonb.png");
  background-size:cover;
}

.product-cards-container {
  width: 100%;
  margin-top:100px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  overflow-x: auto;
}

.product-card {
  width: 310.27px;
  height: 500px;
  border: 0.88px solid #b5a3a3;
  border-radius: 32.93px;
  overflow: hidden;
  background: black;
  position: relative;
  transition: box-shadow 0.3s ease;
}
.product-card:hover {
  box-shadow: 0 5px 15px 5px rgba(255, 255, 255, 0.5);
}

.image-container {
  height: 387.84px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #262628;
  border-radius: 20.49px;
}

.product-image {
  height: 100%;
  width: auto;
  object-fit: cover;
}

.product-info {
  text-align: center;
  color: white;
  padding: 20px;
}

.product-title {
  font-size: 35.74px;
  font-family: "Poppins";
  font-weight: 600;
  line-height: 53.57px;
}

.product-price {
  font-size: 17.46px;
  font-family: "Poppins";
  font-weight: 600;
  line-height: 26.18px;
}

.header1 {
  margin-top:80px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  position: relative;
  left: 100px;
}
.top-rentals {
  color: white;
  width: 261px;
  height: 45px;
  font-size: 37px;
  font-family: "Gotham";
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
}

.trending {
  width: 194px;
  height: 45px;
  font-size: 27.4px;
  font-family: "Gotham";
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  border-radius: 9px;
  border-style: solid;
  border-color: white;
  position: relative;
  left: 15px;
}

.product-title {
  font-size: 35.74px;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  line-height: 53.57px;
  background: linear-gradient(90deg, #ffffff, #6e6e6e);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.product-price {
  font-size: 17.46px;
  font-family: "Gotham", sans-serif;
  font-weight: 600;
  line-height: 26.18px;
  color: white;
}

.Quote {
  width: 100%;
  display: flex;
  padding-bottom:100px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 40.74px;
  font-family: "Poppins", sans-serif;
  font-weight: bolder;
  line-height: 53.57px;
  background: linear-gradient(90deg, #ffffff, #6e6e6e);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

}

.QuoteContainer {
  background-color:black;
  background-image:url("/halftonb.png");
  background-size:cover;
}