.listing-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr); /* 5 columns */
    gap: 20px; /* Adjust the gap between items */
    padding: 20px;
  }
  
  .listing-grid > div {
    background-color: #f8f8f8;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  }
  

  .ProdContainer{
    padding: 4rem;
  }
