.section-title {
  display: flex;
  justify-content: start;
    width: 100%;
    color: black;
    font-size: 46px;
    font-family: "Gotham", sans-serif;
    font-weight: 700;
    letter-spacing: 4.6px;
    word-wrap: break-word;
    margin-left: 429px;
  }
  
  .listing-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
    padding: 20px;
  }
  