@font-face {
    font-family: "Gotham";
    src: url("../../styles/fonts/Gotham-Bold.otf") format("opentype");
}
@font-face {
    font-family: "Poppins";
    src: url("../../styles/fonts/Poppins-Regular.ttf") format("truetype");
  }

.title{
    font-family:"Gotham";
    font-size:35px;
}
.paragraphs{
    background-color: white;
    font-family: "Poppins", Courier, monospace;
    font-size: 30px;
    margin-bottom: 15px;
    font-weight: bold;
}
.terms{
    margin-top:200px;
    padding-left:200px;
    padding-right:200px;
    padding-bottom:50px;

}