*{
    margin: 0px;
    padding: 0px;
    font-family: 'Poppins',sans-serif;
}

.container15 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 20px;
    background-color: black;
}

.box15 {
    display: flex;
    padding-top:50px;
    padding-bottom:50px;
    justify-content: space-between;
    width: 100%;
  
}

.left15,
.right15 {
    flex: 1;
    text-align: center;
}

.button15 {
    background-color: #CBB1FF;
    color: black;
    border: none;
    width: 300px;
    height: 100px;
    /* padding: 25px 50px; */
    font-size: 16px;
    cursor: pointer;
    /* border-radius: 1rem; */
    border-radius: 80px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: x-large;
    font-weight: 900;
    transition: background-color 0.3s ease, border-color 0.3s ease;
}

.button15 svg {
    width: 16px;
    height: 16px;
    margin-left: 8px;
}

.p11 {
    font-size: 30px;
    background: radial-gradient(50% 50% at 50% 50%, #FFFFFF 0%, #6E6E6E 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    margin-bottom: 15px;
    font-weight: bold;
}

.button15:hover {
    border: 2px solid #CBB1FF;
    box-shadow: 0 0 15px rgba(255, 255, 255, 0.8), 0 0 25px #CBB1FF;
  
}
