.specialSect {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    margin-top: 15px;
    justify-content: center;
    align-items: center;
    background-image: url("/halfdark.png");
    background-size: cover;
    
}
